body{
    background-color:rgb(0, 255, 64) ;
}

header{
    height:80px;
    width: 100%;
    position:fixed;
    top:0;
    background-color: rgba(34, 49, 52, 0.9);
    z-index: 10;
    color:white;
}

span{
    color:white;
}

.header-title{
    border-right: 1px solid transparent;
    border-color: rgb(134, 121, 121);
    border-radius: 0ch;
    padding-right:20px;
    padding-left:15px;
}

.header-list li{
    
    list-style: none;
    float:left;
    padding:10px 20px;
}

.music_1 img{
    border-radius: 50%;
}

.music_2 img{
    border-radius: 50%;
}

.music_3 img{
    border-radius: 50%;
}

.music_4 img{
    border-radius: 50%;
}

.music_5 img{
    border-radius: 50%;
}

.playlist h2{
    padding-top: 10px;
}

.playlist h2:hover{
    color:white;
}

.footer-logo a:hover{
    color:white;
}

.footer-section p{
    color:black;
}
.facebook{
    color: black;
}

.twitter{
    color:black;
}

.instagram{
    color:black;
}

.linkdin{
    color:black;
}

.footer-section a:hover{
    color:white;
}

.footer-section span {
    color:black;
}

.footer-logo{
    border-color: black;
}

.playlist{
    border:10 px solid white;
}